/*Buttons and Input */
button, input {
font-size: 1.03em;
}

input[type=number]{
width: 80px;
} 

button{
background-color: #2358af;
color: #fff;
}

button:hover{
background-color: #4172c1;
}

#txtSearch {
width: 410px;
}

#btnSearch {
width: 28px;
height: 28px;
margin-left: -4px;
margin-bottom: -8px;
}

#btnSearch:hover {
filter:contrast(150%);
}	

/*End of Buttons and Input */	

.red {
	color: #cc0000;
}

.white {
	color: #fff;
}

.column_div {
	width: 120px;
	padding: 7px;
	margin: 2px 0px;
	float: left;
	background-color: #fdfff7;
	border: solid 1px #7ea37c;
}

.runner_name_div {
	height: 40px;
	width: 110px;
	display: inline-block;
	border-bottom: solid 1px #000;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

