html, body {
height:100%;
font-size:17px;
}

body 
{
margin:0;
background-color: #fff;
/*display: flex;*/
}

div.wrapper 
{
width: 99.9%;
min-height:100%;
margin:0 auto;	
/* display: flex;     
flex-direction: column; /* put this if you want to stack elements vertically */
}	

div.rightpane
{    
margin: 10px 1px 1px 2px ;
padding: 15px 8px;
width: 15%;
background-color: #90f4d3;
min-height:700px;
height:100%;
float:right; 
}

div.content 
{
margin: 10px 2px 1px;
padding: 15px;
background-color: #defcfc;
text-align:justify;
width: 81%;
min-height:700px;
float: left;
}

div.menu 
{	
position: fixed;
z-index:200; /* elements with higher index are displayed in front of elements with lower index */
width: 100%;
height: 35px;	
background-color: #002856;
color: #ffffff;
margin: 0;
border-bottom: solid thin black;
padding:5px 0px 2px;
}

.left_menu_div {
float: left;
padding: 5px;
}

.right_menu_div {
float: right;
padding: 5px;
}

div.adjustdiv
{	
height:36px;
}
    

#footer 
{
width: 100%;
min-height:65px;
background-color: #002856;
font-size:0.97em;
font-style:italic;
clear:both;
padding: 20px 0;
color: #fff;
}

a
{
text-decoration:none;
color:#0000af;
font-family:Tahoma, Sans-Serif;
}

a:hover 
{
    color:#a14100;
}
    

div.menu a
{
    color: #fff;
    display:block;
    padding:0 4px 1px;
    margin-right:7px;
    margin-bottom:4px;
}

div.menu a:hover
{
background-color: #11469b;
}

div.menu li 
{
    float:left; 
    list-style-type:none;
}

/*paginate styles */
.paginate_div
{
   text-align: center;
   font-family:Tahoma, Sans-Serif;
   font-size: 1em;
}

.paginate_div a
{
   background-color: #60d5f2;
   border: solid 1px #636768;
}

.paginate_div a:hover
{
   background-color: #aeedf9;
}

.paginate_selected
{
   background-color: #eaf8fc;
   border: solid 1px #636768;
}
/*end of paginate styles */


/*Dropdown menu styling */
div.menu li  .dropDownMenu
{
    display:none;
    position:absolute;
	z-index:210;
    margin:0;
}

div.menu li:hover > .dropDownMenu
{
    display:block;
    
}

div.menu li:hover > .dropDownMenu li
{
    float:none;
    font-size:0.8em; 
    margin-left: -100%;
	margin-top: -5px;
	margin-bottom: 0;
}

/* Links to My profile, My pages, Log out, etc */
div.menu li:hover > .dropDownMenu li a
{
background-color: #f0f0f5;
color: #000;
width: 170px;
padding: 6px 10px;
border: solid 1px #494d54;
       
}

/*Tooltip Arrow of dropDownMenu*/
.dropDownMenu ::after {
content: "";
position: absolute;
bottom: 103%;
left: 4%;
border-width: 8px;
border-style: solid;
border-color: transparent transparent #f0f0f5 transparent;
}

div.menu li:hover > .dropDownMenu li a:hover
{
    background-color: #a7c7f2; 
	color: #000;
       
} /*End of Dropdown menu styling */

    
	
@media only screen and (max-device-width: 60em) {

		html
		{
		font-size:100%;
		} 
		
		div.menu 
		{	
		position: static;
		min-height: 70px;	
		height:auto;
		}
		
		.left_menu_div {
		float: none;
		}
		
		div.adjustdiv
		{	
			display:none;
		}
		
		
		div.content 
		{
		width: 96%;
		margin: 0;
		padding: 1.4%;			
		}
		
		div.rightpane
		{    
		min-width: 96%;
		margin: 0;
		margin-top: 5px;
		padding: 1.3%;
		float: left;
		 }
		 
		
		div.menu a
		{
		margin-right:10px;

		}
		
		#txtSearch {
		width: 80%;
		}
	
	}
	
	@media only screen and (max-device-width: 10cm) {
	
		.imgcenter
		{
		width:95% !important;
		height:auto !important;
		}

	}

    
